.slick-list {
  background-color: white;
}

.slick-dots {
  li {
    float: none;
    display: inline-block;
    width: 16.6666666667%;
    @media only screen and (max-width:959px) {
      width: 33.3333333333%;
      margin-bottom: 30px;
    }
    @media only screen and (max-width:767px) {
      width: 50%
    }

    .customSlickButton1 {
      position: relative;
      width: 100%;

      text-align: center;
      overflow: visible;
      .feature-icon.feature:hover {
        color: $pulse-magenta;
      }
    }
    &.slick-active {
      .feature-icon.feature {
        background: #fff;
        color: $pulse-magenta;
      }
    }
  }
}

.slideContent {

}

.slick-prev {
  position: absolute;
  left: 70px;
  top: 50%;
}

.slick-next {
  position: absolute;
  right: 70px;
  top: 50%;
}

.info-box {
  padding: 30px 20%;
  @include fontSize(16px);
}

.services-inner-carousel_slide {
  p {
    color: $pulse-grey;
  }
}